#top-container {
    layout: grid;
    grid-size: 2;
    grid-rows: 13;
    height: 13;
}
#top-container-slim {
    layout: grid;
    grid-size: 2;
    grid-rows: 2;
    height: 2;
}
#cmos-observer {
    height: 2;
    text-align: center;
    background: darkgreen;
    color: white;
}
#progress-bars {
    height: 1;
    background: darkgreen;
    align: center middle;
}
#gather-iso-observer {
}
.hidden {
    display: none;
}