textual==0.86.3
textual-dev==1.6.1
rich-pixels==3.0.1
psutil==6.0.0
pytest==8.3.3
setuptools==75.2.0
wheel==0.44.0
git+https://github.com/Elite-Scripts/WoeUSB-ng.git@f2c42f55034533f63c952727f8bdbb9f4d295aee#egg=WoeUSB-ng